In [2]:
# Create and Access List Elements
# Create a list containing five different fruits and print the third fruit.
mylist = ["Apple", "Banana", "Peach", "Orange", "limon"]
print(mylist[2])

Peach

In [3]:
 #Concatenate Two Lists
# Create two lists of numbers and concatenate them into a single list.
num1 = [1, 2, 3, 4]
num2 = [5, 6, 1, 7]
totalnum = num1 + num2
print(totalnum)

[1, 2, 3, 4, 5, 6, 1, 7]

In [7]:
# Extract Elements from a List
# Given a list of numbers, extract the first, middle, and last elements and store them in a new list.
import math
exlist = [1, 2, 3, 6, 7, 9, 11]
print (exlist[0], exlist[-1], exlist[math.floor((len(exlist)/2))])

1 11 6

In [8]:
 #Convert List to Tuple
# Create a list of your five favorite movies and convert it into a tuple.
mylist2 = ["John","Hello", 1, 2, 3, 4, 1+2j]
mytuple = tuple(mylist2)
mytuple

('John', 'Hello', 1, 2, 3, 4, (1+2j))

In [9]:
# Check Element in a List
# Given a list of cities, check if "Paris" is in the list and print the result.
cities = ["London", "Paris", "New York", "Tokyo", "Tashkent"]

if  "Paris" in cities:
    print("Paris is in the cities")
else:
    print("Paris is not in the cities")

Paris is in the cities

In [10]:
# Duplicate a List Without Using Loops
# Create a list of numbers and duplicate it without using loops.
mylist3 = [1, 2, 3, 4, 5]
duplicate = mylist3*2
print(duplicate)

[1, 2, 3, 4, 5, 1, 2, 3, 4, 5]

In [12]:
# Swap First and Last Elements of a List
# Given a list of numbers, swap the first and last elements.
mylist1 = [1, 2, 3, 4, 5]
mylist1[0], mylist1[-1] = mylist1[-1], mylist1[0]

print(mylist1)

[5, 2, 3, 4, 1]

In [14]:
 # Slice a Tuple
# Create a tuple of numbers from 1 to 10 and print a slice from index 3 to 7.

mytuple2 = (1, 2, 3, 4, 5, 6, 7, 8, 9, 10)
mytuple2[2:7]

(3, 4, 5, 6, 7)

In [15]:
# Count Occurrences in a List
# Create a list of colors and count how many times "blue" appears in the list.
colors = ['red', 'blue', 'green', 'yellow', 'purple', 'orange']
colors.count('blue')

1

In [17]:
# Find the Index of an Element in a Tuple
# Given a tuple of animals, find the index of "lion".
animals = ('fox', 'wolf','lion',  'bear')
lion_index = animals.index("lion")
print(lion_index)

2

In [19]:
# Find Maximum and Minimum in a Tuple
# Given a tuple of numbers, find and print the maximum and minimum values.
mytuple3 = (1, 2, 3, 4, 7, 11, 21, 9, 13, 17)
maximum = max(mytuple3)
minimum = min(mytuple3)
print("Maximum = ", maximum)
print("Minimum = ", minimum)

Maximum =  21
Minimum =  1

In [21]:
# Reverse a Tuple
# Create a tuple of words and print it in reverse order.
mytuple4 = (1, 2, 3, 7, 1, 4, 8, 9)
reversed_tuple = mytuple4[::-1]
reversed_tuple

(9, 8, 4, 1, 7, 3, 2, 1)