In [ ]:
# Create a new database with a table named Roster that has three fields: Name, Species, and Age. The Name and Species columns should be text fields, and the Age column should be an integer field.

import sqlite3
with sqlite3.connect("Database.db") as connection:
    cursor = connection.cursor()

    sql_query = "create table Roster (Name varchar(50), Species varchar(50), Age int)"
    cursor.execute(sql_query)

In [5]:
sql_insert = " insert into Roster values ('Benjamin Sisko', 'Human', 40), ('Jadzia Dax', 'Trill', 300 ), ('Kira Nerys', 'Bajoran', 29)"
cursor.execute(sql_insert)

In [6]:
# update 
sql_update = """
            update Roster
            set name = 'Ezri Dax'
            where name = 'Jadzia Dax'

"""
cursor.executescript(sql_update)

In [7]:
sql_select = """select name, age from roster
                where species = "Bajoran"
"""
cursor.executescript(sql_select)